
.colorPicker-minimized-container{
	
}

/* Always shown colored square/box/div which represents the color picker*/
.colorPicker-minimized{
  width: 100%; /* fill the space we've been given by our container.*/
	height: 100%;
	cursor: pointer;
	/*background-color: rgba(1,1,1,1);*/  /* background color is set via the element's style element, as it is a dynamic styling */
	text-align: right;/* rbga text goes to the right*/
}

/* When the colorPicker-minimized element is clicked, the element with this class will be displayed
 * this is a modal that will fill the entire screen? perhaps just a portion so that the generated css and gradient can be seen.
 * */
.colorPicker-expanded{
	display: none;
	width:100%;
	
	/*height: 200px; /* NO Bad. Breaks things*/
	/*vertical-align: top;  doesnt work*/
}


/* left hand side of expanded */
.colorPicker-colorBoxes{
	width:90%;
	height:100%;  /*ensures overflow doesnt occur*/
	
	margin-top:1%;
	
	display:inline-block;
	vertical-align: top;   /*doesnt work  */
	height:400px;
  
 /*margin-bottom:5%;*/ /* fixes color boxes spilling over other color stops*/
	/*padding-bottom: 8.9%;*/
	
/*	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
	
	border:solid 3px #000000;*/
	
	
}

/* displayed to the right side of the colorPicker-colorBoxes 
 * right hand side of expanded
 * */
.hueRangeContainer{
	display:inline-block;
	width:5%;
	/*max-height:100px;  NO. Breaks shit.*/
	margin-top:4%;
	
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
	
	border:solid 3px #000000;
}

/*a single box which is clickable and sets the hue color*/
.hue-range-selector-box{
	
	width:100%;
	cursor:pointer;
	max-height: 1px;   /* works */
}

.colorBoxRow{
	width:100%;
	height:3.4%;
	padding:0%;
	border:0px;
	/*height:3%;*/
}

.colorBox {
	display:inline-block;
	background-color: rgba(29, 77, 123, 1);
	
	width:3.3%;
	height:100%;
	/*font-size:300%;*/
	border: 0px;
	padding:0px;
	margin: 0px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	
	vertical-align: top;
}

.colorBox input{
	display:none;
}


