body{
	height: 100%;
	background-repeat:no-repeat;
	background-image: -moz-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(69%,rgba(241, 238, 233, 1)), color-stop(100%,rgba(183, 175, 163, 1)));
}
html{
	height: 100%;
}



.linearGradient-linearGradientMakerControlsRow1{
	padding: 5px;
	background-image: -moz-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(146, 143, 149, 1)), color-stop(100%,rgba(77, 80, 80, 1)));
	
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));*/
}

/* gradient output and css text area go here */
.linearGradient-linearGradientMakerControlsColumn1{
	width:10%;
	display: inline-block;
	vertical-align:top;
  min-width:220px;
  padding-right: .5%;
}

/* colorstops go in here */
.linearGradient-linearGradientMakerControlsColumn2{
	width:50%;
	display: inline-block;
	min-width:525px;
}

/* --------------------------------------------------------------  output */

.linearGradient-generatedOutputsContainer{
	padding: 2px;
  margin-left: 1%;
}

.linearGradient-gradientOutput{
	height: 200px;
	width: 97%;
	display: block;
	
	border: 3px solid #C7C7C7;
	
	border-radius: 6px 9px 5px 9px; 
	-moz-border-radius: 6px 9px 5px 9px; 
	-webkit-border-radius: 6px 9px 5px 9px; 
	-o-border-radius: 6px 9px 5px 9px; 
	
}

/* css text preview - highest level container */
.linearGradient-generatedLinearGradientCssPreviewContainer{
	width: 100%;
	display: block;
	margin-top: 3%;
	
	background-image: -moz-linear-gradient(top,rgba(66, 67, 68, 100) 1%, rgba(25, 25, 26, 100) 100%);
	background-image: -webkit-linear-gradient(top,rgba(66, 67, 68, 100) 1%, rgba(25, 25, 26, 100) 100%);
	background-image: -o-linear-gradient(top,rgba(66, 67, 68, 100) 1%, rgba(25, 25, 26, 100) 100%);
	background-image: -ms-linear-gradient(top,rgba(66, 67, 68, 100) 1%, rgba(25, 25, 26, 100) 100%);
	background-image: -linear-gradient(top,rgba(66, 67, 68, 100) 1%, rgba(25, 25, 26, 100) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(66, 67, 68, 100)), color-stop(100%,rgba(25, 25, 26, 100)));

  border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-o-border-radius: 6px 6px 6px 6px;
}

/* toolbar which contains the button to show/hide css preview text*/
.css-text-preview-toolbar{
	width:96.3%;
	padding: 2%;
	display: inline-block;
	background: rgb(235,241,246);
	background-image: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(206,206,206,1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(100%,rgba(206,206,206,1)));
	background-image: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(206,206,206,1) 100%);
	background-image: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(206,206,206,1) 100%);
	background-image: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(206,206,206,1) 100%);
	background-image: linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(206,206,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#cecece',GradientType=0 );

	 border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
}

.css-text-preview-toolbar-button{
	width: 35px;
	height: 35px;
	cursor: pointer;
/*	background-image: -moz-linear-gradient(top,rgba(40, 41, 43, 100) 1%, rgba(31, 32, 34, 100) 100%);
background-image: -webkit-linear-gradient(top,rgba(40, 41, 43, 100) 1%, rgba(31, 32, 34, 100) 100%);
background-image: -o-linear-gradient(top,rgba(40, 41, 43, 100) 1%, rgba(31, 32, 34, 100) 100%);
background-image: -ms-linear-gradient(top,rgba(40, 41, 43, 100) 1%, rgba(31, 32, 34, 100) 100%);
background-image: -linear-gradient(top,rgba(40, 41, 43, 100) 1%, rgba(31, 32, 34, 100) 100%);
background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(40, 41, 43, 100)), color-stop(100%,rgba(31, 32, 34, 100)));*/
}


/*
 * just under toolbar, this is displayed/hidden when preview button is clicked
 */
.linearGradient-generatedLinearGradientCssOutput{
	width:100%;
	font-size: 10px;
	display: none;  /*inline-block;*/
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 2%;

	
}

.lg-css-output-textarea{
	width:90%;
	border-radius: 6px 9px 5px 9px; 
	-moz-border-radius: 6px 9px 5px 9px; 
	-webkit-border-radius: 6px 9px 5px 9px; 
	-o-border-radius: 6px 9px 5px 9px; 
	border: 3px solid #C7C7C7;
	
}


/* --------------------------------------------------------------  controls & inputs */



/* page options container for linearGradient.
 * container for colorStops, direction, gradient type
 * all controls the user interacts with will be in this container.
 */
.linearGradient-controls{
	border:solid 1px #000000;
	
	background-image: -moz-linear-gradient(top,rgba(203, 203, 206, 100) 1%, rgba(203, 203, 201, 100) 100%);
	background-image: -webkit-linear-gradient(top,rgba(203, 203, 206, 100) 1%, rgba(203, 203, 201, 100) 100%);
	background-image: -o-linear-gradient(top,rgba(203, 203, 206, 100) 1%, rgba(203, 203, 201, 100) 100%);
	background-image: -ms-linear-gradient(top,rgba(203, 203, 206, 100) 1%, rgba(203, 203, 201, 100) 100%);
	background-image: -linear-gradient(top,rgba(203, 203, 206, 100) 1%, rgba(203, 203, 201, 100) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(203, 203, 206, 100)), color-stop(100%,rgba(203, 203, 201, 100)));

	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
}

/* ColorStop Direction GradientType   Tab Bar*/
.lg-options-tab-bar{
	width:98%;
	display: inline-block;
	margin-left:-1%;
	margin-top:.5%;
	
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom : 3%;
	
	border:solid 1px #000000;
	
	background-image: -moz-linear-gradient(top,rgba(77, 77, 77, 100) 1%, rgba(51, 51, 51, 100) 100%);
	background-image: -webkit-linear-gradient(top,rgba(77, 77, 77, 100) 1%, rgba(51, 51, 51, 100) 100%);
	background-image: -o-linear-gradient(top,rgba(77, 77, 77, 100) 1%, rgba(51, 51, 51, 100) 100%);
	background-image: -ms-linear-gradient(top,rgba(77, 77, 77, 100) 1%, rgba(51, 51, 51, 100) 100%);
	background-image: -linear-gradient(top,rgba(77, 77, 77, 100) 1%, rgba(51, 51, 51, 100) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(77, 77, 77, 100)), color-stop(100%,rgba(51, 51, 51, 100)));
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Color Stops, Direction, Gradient Type are tabs*/
.lg-options-tab{
	display: inline-block;
	width: 33%;
	cursor: pointer;
	
	text-shadow: 1px 1px 2px #2b2c2e;
	filter: dropshadow(color=#2b2c2e, offx=1, offy=1);
	color:white;
	text-align: center;
}

.lg-options-tab-selected{
	color: rgb(119, 156, 179);
}

.lg-options-tab:hover{
	color: rgb(119, 156, 179);
}

/* --------------------------------------------------------------  Color Stops --------------------------------------------------------------------------------------------------------- */

/* tab screen for color stops*/
.lg-color-stops-screen{
  width:98%;
	padding:1%;
	/*border: 3px solid #C7C7C7;*/
}


/* toolbar for color stops  */
.linearGradient-colorStopsButtonPanel{
	width: 98%;
	padding : 1%;
	
	background-image: -moz-linear-gradient(top, rgba(235, 241, 246, 1) 0%, rgba(206, 206, 206, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235, 241, 246, 1)), color-stop(100%,rgba(206, 206, 206, 1)));
	background-image: -webkit-linear-gradient(top, rgba(235, 241, 246, 1) 0%,rgba(206, 206, 206, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(235, 241, 246, 1) 0%,rgba(206, 206, 206, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(235, 241, 246, 1) 0%,rgba(206, 206, 206, 1) 100%);
	background-image: linear-gradient(top, rgba(235, 241, 246, 1) 0%,rgba(206, 206, 206, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#cecece',GradientType=0 );

	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
	border:solid 1px #000000;
}

/*add color stop button*/
.linearGradient-colorStopButtonContainer{
	cursor: pointer;
}


/*
 * the linear gradient maker has a colorStops container which holds each individual colorStop used in
 * formulating the gradientOutput generated css style.
 */
.linearGradient-colorStops{
	/*padding: 1%;*/
	margin-top: 1%;
	
}

/* 
 * entire container for red, green, blue, etc slider controls
 * dark background gradient
 * */
.linearGradient-colorStop{
	min-height: 25px;
	margin-bottom: 1%;
	
	
	
}

/* everything but the delete button */
.lg-color-stop-column-1{
	display: inline-block;
	width:94%;
	padding: 1%;
	
	background-image: -moz-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(72, 74, 72, 1)), color-stop(100%,rgba(57, 57, 63, 1)));

  border-radius: 6px 6px 6px 6px; 
	-moz-border-radius: 6px 6px 6px 6px; 
	-webkit-border-radius: 6px 6px 6px 6px; 
	-o-border-radius: 6px 6px 6px 6px; 
}

.lg-color-stop-column-2{
	display: inline-block;
	width:3%;
	padding-left:.5%;
	vertical-align: top;
}

.lg-delete-color-stop-button{
	cursor:pointer;
}

/* contains each input type="range" that the colorStop uses. 
 * white background gradient
 * */
.linearGradient-colorStop-inputRanges{
	margin-top: 1%;
	
	border-radius: 4px 4px 4px 4px; 
	-moz-border-radius: 4px 4px 4px 4px; 
	-webkit-border-radius: 4px 4px 4px 4px; 
	-o-border-radius: 4px 4px 4px 4px; 
	
	background-image: -moz-linear-gradient(top,rgba(255, 255, 255, 100) 60%, rgba(213, 213, 213, 100) 100%);
	background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 100) 60%, rgba(213, 213, 213, 100) 100%);
	background-image: -o-linear-gradient(top,rgba(255, 255, 255, 100) 60%, rgba(213, 213, 213, 100) 100%);
	background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 100) 60%, rgba(213, 213, 213, 100) 100%);
	background-image: -linear-gradient(top,rgba(255, 255, 255, 100) 60%, rgba(213, 213, 213, 100) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(60%,rgba(255, 255, 255, 100)), color-stop(100%,rgba(213, 213, 213, 100)));
}

.linearGradient-colorStop label{
	font-size:10px;
	vertical-align: top;
}

.linearGradient-colorStop input{
	width: 100px;
}

.linearGradient-colorStop .fd-slider{
	display:inline-block;
}

/* this is held by the colorstop. maybe it should go there instead
 * colorPicker-minimized goes in here, but is defined in the colorPicker css.
 * */
.linearGradient-colorStop-colorPicker{
	
}

.linearGradient-colorStop .colorPicker-minimized{
	border-radius: 4px 4px 4px 4px; 
	-moz-border-radius: 4px 4px 4px 4px; 
	-webkit-border-radius: 4px 4px 4px 4px; 
	-o-border-radius: 4px 4px 4px 4px; 
}

/* --------------------------------------------------------------  Direction --------------------------------------------------------------------------------------------------------- */
/* tab screen for direction*/
.lg-gradient-direction-screen{
  width:98%;
	padding:1%;
	display:none;
	/*border: 3px solid #C7C7C7;*/
}

/* --------------------------------------------------------------  Gradient Type ------------------------------------------------------------------------------------------------------ */
.lg-gradient-type-screen{
	/*text-align: center;*/
	display:none;
}

.lg-gradient-type-selection{
	cursor: pointer;
}
