body{
	height: 100%;
	background-repeat:no-repeat;
	background-image: -moz-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -linear-gradient(top,rgba(241, 238, 233, 1) 69%, rgba(183, 175, 163, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(69%,rgba(241, 238, 233, 1)), color-stop(100%,rgba(183, 175, 163, 1)));
}
html{
	height: 100%;
}



.linearGradient-linearGradientMakerControlsRow1{
	padding: 5px;
	background-image: -moz-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -linear-gradient(top,rgba(146, 143, 149, 1) 1%, rgba(77, 80, 80, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(146, 143, 149, 1)), color-stop(100%,rgba(77, 80, 80, 1)));
	
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));*/
}

/* gradient output and css text area go here */
.linearGradient-linearGradientMakerControlsColumn1{
	width:30%;
	display: inline-block;
	vertical-align:top;
  min-width:650px;
  padding-right: .5%;
}

/* colorstops go in here */
.linearGradient-linearGradientMakerControlsColumn2{
	width:50%;
	display: inline-block;
	min-width:525px;
}

/* --------------------------------------------------------------  output */

.linearGradient-generatedOutputsContainer{
	padding: 2px;
  text-align: right;
}
/*
 * where the user is shown the generated css
 */
.linearGradient-generatedLinearGradientCssOutput{
	font-size: 10px;
	display: inline-block;
	vertical-align: top;
	
	border-radius: 6px 9px 5px 9px; 
	-moz-border-radius: 6px 9px 5px 9px; 
	-webkit-border-radius: 6px 9px 5px 9px; 
	-o-border-radius: 6px 9px 5px 9px; 
	border: 3px solid #C7C7C7;
}
.linearGradient-gradientOutput{
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-left: 1%;
	
	border-radius: 6px 9px 5px 9px; 
	-moz-border-radius: 6px 9px 5px 9px; 
	-webkit-border-radius: 6px 9px 5px 9px; 
	-o-border-radius: 6px 9px 5px 9px; 
	border: 3px solid #C7C7C7;
}

/* --------------------------------------------------------------  controls & inputs */
/*
 * container for colorStops, etc.
 * all controls the user interacts with will be in this container.
 */
.linearGradient-controls{


}

.linearGradient-colorStopsComponent{
  width:99%;
	padding:1%;
	background-image: -moz-linear-gradient(top,rgba(226, 226, 233, 1) 1%, rgba(183, 189, 198, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(226, 226, 233, 1) 1%, rgba(183, 189, 198, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(226, 226, 233, 1) 1%, rgba(183, 189, 198, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(226, 226, 233, 1) 1%, rgba(183, 189, 198, 1) 100%);
	background-image: -linear-gradient(top,rgba(226, 226, 233, 1) 1%, rgba(183, 189, 198, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(226, 226, 233, 1)), color-stop(100%,rgba(183, 189, 198, 1)));

	border-radius: 6px 9px 5px 9px; 
	-moz-border-radius: 6px 9px 5px 9px; 
	-webkit-border-radius: 6px 9px 5px 9px; 
	-o-border-radius: 6px 9px 5px 9px; 
	border: 3px solid #C7C7C7;
}

/*
 * the linear gradient maker has a colorStops container which holds each individual colorStop used in
 * formulating the gradientOutput generated css style.
 */
.linearGradient-colorStops{
	padding: 1%;
	background-image: -moz-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -webkit-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -o-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -ms-linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -linear-gradient(top,rgba(72, 74, 72, 1) 1%, rgba(57, 57, 63, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(1%,rgba(72, 74, 72, 1)), color-stop(100%,rgba(57, 57, 63, 1)));

  border-radius: 6px 9px 5px 9px; 
	-moz-border-radius: 6px 9px 5px 9px; 
	-webkit-border-radius: 6px 9px 5px 9px; 
	-o-border-radius: 6px 9px 5px 9px; 
}

/* 
 * entire container for red, green, blue, etc slider controls
 * */
.linearGradient-colorStop{
	min-height: 25px;
	margin-bottom: 1%;
	
	background: rgb(255,255,255); /* Old browsers */
	background-image: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(237,239,242,1) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(237,239,242,1))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(237,239,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(237,239,242,1) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(237,239,242,1) 100%); /* IE10+ */
	background-image: linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(237,239,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeff2',GradientType=1 ); /* IE6-9 */
	
	border-radius: 2px; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
}

/* contains each input type="range" that the colorStop uses. */
.linearGradient-colorStop-inputRanges{
	
}

.linearGradient-colorStop label{
	font-size:10px;
	vertical-align: top;
}

.linearGradient-colorStop input{
	width: 100px;
}

.linearGradient-colorStop .fd-slider{
	display:inline-block;
}

/* this is held by the colorstop. maybe it should go there instead
 * colorPicker-minimized goes in here, but is defined in the colorPicker css.
 * */
.linearGradient-colorStop-colorPicker{
	
}


